<!--
 Amardip Kaur
 4/27/20
 This is the main page of the dating website
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Perfect Match</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="#">Perfect Match</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container mt-3 p-3 border">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center">Perfect Match</h1>
            <p>Welcome to the web's most successful dating website. At <strong>Perfect
            Match</strong> you'll meet another like minded individuals. We have the highest
            success rate of couples on the web. Users are matched by interest and location.
            Find out why so many others have found love on our site!<br></p>

            <h4 class="text-center">Hear what our users are saying about us.</h4>
            <hr>
            <div class="pl-4 font-italic font-weight-light">
                <p>"I met the love of my life after only a month!" - Lauren</p>
                <p>"It was so easy to set up and profile and start meeting people.
                    I didn't realize how many others were looking for love in my area." - Garry</p>
                <p>"Just try it! You'll never be the same!" - Aubrey</p>
            </div>
            <hr>

            <div class="text-center">
                <button class="btn btn-primary" type="submit">Create a Profile</button>
            </div>

        </div>
        <div class="col-md-6 text-center mt-2">
            <img class="img-fluid rounded" src="images/main.jpg" alt="mainImage">
        </div>

    </div>

</div>

</body>
</html>