<!--
 Amardip Kaur
 5/10/20
 This page gathers personal information
-->
<!doctype html>
<html lang="en">
<head>
    <title>Personal Information</title>
    <include href="includes/header.html"></include>


<div class="container mt-3 border rounded">

    <h1>Personal Information</h1>
    <hr>

    <form action="#" method="post">
        <div class="row">

            <div class="col-md-8">

                <div class="form-group">
                    <label for="firstName"><strong>First Name</strong></label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Sarah">
                </div>
                <div class="form-group">
                    <label for="lastName"><strong>Last Name</strong></label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Smith">
                </div>
                <div class="form-group">
                    <label for="age"><strong>Age</strong></label>
                    <input type="text" class="form-control" id="age" name="age" placeholder="30">
                </div>
                <div class="form-group">
                    <label><strong>Gender</strong></label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="male" name="gender" value="male">
                        <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="female" name="gender" value="female">
                        <label class="form-check-label" for="female">Female</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="age"><strong>Phone Number</strong></label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="222-333-4444">
                </div>

            </div>

            <div class="col-md-4">
                <div class="alert bg-light mt-4 p-3 text-center border border-secondary rounded" role="alert">
                    <strong>Note:</strong> All information entered is protected by our
                    <span class="text-primary">privacy policy</span>. Profile information can only be viewed by others with
                    your permission.
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class=" text-right col-12">
                <input class="btn btn-primary" type="submit" value="Next >">
            </div>
        </div>
    </form>

</div>

</body>
</html>