<!--
 Amardip Kaur
 5/10/20
 This page displays summary
-->
<!doctype html>
<html lang="en">
<head>
    <title>Summary</title>
    <include href="includes/header.html"></include>


<div class="container mt-3 border rounded">

    <form action="#" method="POST">
        <div class="row">

            <div class="col-md-6 mt-3">
                <ul class="list-group">
                    <li class="list-group-item">Name: {{ @SESSION.member->getFname() }} {{ @SESSION.member->getLname() }}</li>
                    <li class="list-group-item">Gender: {{ @SESSION.member->getGender() }}</li>
                    <li class="list-group-item">Age: {{ @SESSION.member->getAge() }}</li>
                    <li class="list-group-item">Phone: {{ @SESSION.member->getPhone() }}</li>
                    <li class="list-group-item">Email: {{ @SESSION.member->getEmail() }}</li>
                    <li class="list-group-item">State: {{ @SESSION.member->getState() }}</li>
                    <li class="list-group-item">Seeking: {{ @SESSION.member->getSeeking() }}</li>
                    <li class="list-group-item">Interests:
                        <check if="{{ !empty(@SESSION.inInterests) }}" >
                            {{ implode(@SESSION.inInterests, ", ") }}<br>
                        </check>
                        <check if="{{ !empty(@SESSION.inInterests) }}" >
                            {{ implode(@SESSION.outInterests, ", ") }}
                        </check>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 mt-3">
                <img class=" rounded mx-auto d-block" src="images/profile.png" alt="mainImage">

                <ul class="list-group mt-3">
                    <li class="list-group-item">Biography: <br>{{ @SESSION.biography }}</li>
                </ul>
            </div>
        </div>
        <div class="row mb-3 mt-3">
            <div class=" text-center col-12">
                <a class="btn btn-primary" href="{{ @BASE }}">Contact Me!</a>
            </div>
        </div>
    </form>

</div>

</body>
</html>